# IDEs
**/.idea
**/.fleet

# exe
**/main
**/bin

# LKM artifacts
**/*.ko
**/*.o
**/*.o.d
**/*.o.cmd
**/*.mod.c
**/*.mod
**/*.mod.cmd
**/*.ko.cmd
**/*.cmd
**/modules.order
**/Module.symvers
**/cmake-build-debug

# keep go mod
!**/go.mod
